*{
    box-sizing: border-box;
}
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}
.all-container {
	/* padding-top: 20px; */
	width: 100%;
	height: 100%;
	background-color: #60C4F2;
}
.all-container .main-container {
	/* padding-top: 20px; */
	margin: 0 auto;
	/* border: 1px solid black; */
	width: 1200px;
	height: 100%;
	background-color: #60C4F2;
	display: grid;
	grid-template-rows: 100px 1fr 40px;
	grid-gap: 5px;
}
header {
	display: grid;
	grid-template-columns: 700px 1fr 200px;
	/* border: 1px solid black; */
	/* align-items: center; */
}
header .search-box input {
	border-radius: 5px;
	/* margin-left: 16px; */
	margin-top: 26px;
	width: 600px;
	height: 40px;
	outline: none;
	border: none;
	box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
	font-size: 16px;
	padding-left: 20px;
    padding-right:20px;
    position: relative;
}
header input:active{
	border:none;
	outline: none;
}
header input:focus {
	border:none;
	outline: none;
}
header nav {

	padding-top: 20px;
	margin: 0;
	/* margin-right: 16px; */
	height: 60px;

}
header nav ul {
	border-radius: 5px;
	margin: 0;
	height: 100%;
	background-color: #fff;
	list-style-type: none;
	display: grid;
	padding: 0;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
}

.search-box {
	position: relative;
}
.search-box button {
	position: absolute;
	top: 33px;
	left: 561px;
	border: none;
	background-color: #fff;
    z-index: 1;
}
.search-box button:focus {
	outline: none;
	border: none;
}
.search-box button:active {
	outline: none;
	border: none;
}
header nav ul li:hover {
	background-color: rgb(223, 223, 223);
}
header nav ul li:hover:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
header nav ul li:hover:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.table-box-selecteds {
	border-radius: 5px;
	/* border: 1px solid black; */
	box-shadow: 0 50px 40px rgb(0, 0, 0, 0.2);
	background-color: #fff;
}
.table-box-selecteds table {
	width: 100%;
	/* height: 100%; */
}

.table-box-selecteds table tr th {
	height: 40px;
	padding-left: 20px;
	text-align: left;
}

.table-box-selecteds table tr th:first-child {
	padding: 0;
	text-align: center;
}

.table-box-selecteds table tr th:nth-child(7) {
	height: 40px;
	padding-left: 0px;
	text-align: center;
}

.table-box-selecteds table tr td:last-child {
	width: 40px;
	height: 40px;
	padding-right: 6px;
	padding-left: 6px;
	text-align: center;
}

.table-box-selecteds table tr td:last-child button {
	border: none;
	outline: none;
	background: transparent;
}

.table-box-selecteds table tr td:last-child button:focus {
	border: none;
	outline: none;
	background: transparent;
}

.table-box-selecteds table tr td:last-child button:active {
	border: none;
	outline: none;
	background: transparent;
}

.table-box-selecteds table tr td:nth-child(2) {
	width: 40px;
	font-size: 24px;
	padding-left: 12px;
}

/*	  */

.table-box-selecteds table .selected_list_active td:nth-child(8) {
	padding-right: 0px;
	width: 160px;
}

.table-box-selecteds table .selected_list_active td:nth-child(8) input {
	width: 150px;
	padding: 0;
	margin: 0;
	border-radius: 5px;
	background-color: #fff;
	font-size: 16px;
	color: #000;
}

.table-box-selecteds table .selected_list_active td:nth-child(5) {
	padding-right: 0px;
	width: 180px;
}

.table-box-selecteds table .selected_list_active td:nth-child(5) input {
	width: 170px;
	padding: 0;
	margin: 0;
	border-radius: 5px;
	background-color: #fff;
	font-size: 16px;
	color: #000;
}

.table-box-selecteds table .selected_list_active td:nth-child(4) {
	padding-right: 0px;
	width: 100px;
}

.table-box-selecteds table .selected_list_active td:nth-child(4) input {
	width: 90px;
	padding: 0;
	margin: 0;
	border-radius: 5px;
	background-color: #fff;
	font-size: 16px;
	color: #000;
}

.table-box-selecteds table .selected_list_active td:nth-child(3) {
	padding-right: 0px;
	width: 160px;
}

.table-box-selecteds table .selected_list_active td:nth-child(3) input {
	width: 150px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-size: 16px;
	color: #000;
	border-radius: 5px;
}

.table-box-selecteds table .selected_list_active td input {
	border: 1px solid black;
	transition: 0.2s ease-in-out;
}

.table-box-selecteds table .selected_list_active:hover td input {
	background-color: rgb(243, 242, 242);
}

/*  */

/* input */

.table-box-selecteds table .selected_list_disabled td:nth-child(8) {
	padding-right: 0px;
	width: 160px;
}

.table-box-selecteds table .selected_list_disabled td:nth-child(8) input {
	width: 150px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: #fff;
	font-size: 16px;
	color: #000;
}

.table-box-selecteds table .selected_list_disabled td:nth-child(5) {
	padding-right: 0px;
	width: 180px;
}

.table-box-selecteds table .selected_list_disabled td:nth-child(5) input {
	width: 170px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: #fff;
	font-size: 16px;
	color: #000;
}

.table-box-selecteds table .selected_list_disabled td:nth-child(4) {
	padding-right: 0px;
	width: 100px;
}

.table-box-selecteds table .selected_list_disabled td:nth-child(4) input {
	width: 90px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: #fff;
	font-size: 16px;
	color: #000;
}

.table-box-selecteds table .selected_list_disabled td:nth-child(3) {
	padding-right: 0px;
	width: 160px;
}

.table-box-selecteds table .selected_list_disabled td:nth-child(3) input {
	width: 150px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: #fff;
	font-size: 16px;
	color: #000;
}

.table-box-selecteds table .selected_list_disabled td input {
	transition: 0.2s ease-in-out;
}

.table-box-selecteds table .selected_list_disabled:hover td input {
	background-color: rgb(243, 242, 242);
}

/* input */

.table-box-selecteds table tr td:nth-child(2) {
	/* padding: ; */
}

.table-box-selecteds table tr td:nth-child(2) .fa-hard-hat {
	/* width: 40px; */
	font-size: 24px;
	color: rgb(202, 59, 6);
	/* padding-left: 12px; */
	padding-left: 2px;
}

.table-box-selecteds table tr td:nth-child(2) .fa-graduation-cap {
	color: blue;
	/* background-color: blue; */
}

.table-box-selecteds table tr th:last-child {
	height: 20px;
	padding-left: 0px;
}

.table-box-selecteds table tr td {
	height: 40px;
	padding-left: 20px;
}

.table-box-selecteds table tr td:nth-child(7) {
	text-align: center;
	padding: 0;
}

.table-box-selecteds table tr td:nth-child(2) {
	text-align: center;
	padding: 0;
}
.table-box-selecteds table tr td:nth-child(2) .stud_hat {
	fill: orangered;
}

.table-box-selecteds table tr td:nth-child(2) .work_hat {
	fill: blue;
}

.table-box-selecteds table tr td:nth-child(8) {
	text-align: center;
	padding: 0;
}

.table-box-selecteds table tr td:nth-child(9) {
	width: 190px;
}

.table-box-selecteds table tr td:first-child {
	width: 25px;
	/* height: 40px;
	align-items: center;
	display: flex;
	justify-content: center; */
	text-align: center;
	padding: 0;
}

.table-box-selecteds table tr td:last-child {
	padding-left: 10px;
	align-items: center;
	width: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* grid-gap: 5px; */
}

.table-box-selecteds table tr td:last-child .save_worker svg {
	height: 30px;
}

.table-box-selecteds table tr td:last-child {
	position: relative;
}

.table-box-selecteds table tr td:last-child .save_worker {
	left: 45px;
	position: absolute;
}

.table-box-selecteds table tr {
	transition: 0.2s ease-in-out;
}

.table-box-selecteds table tr:first-child {
	/* transition: 0.2s ease-in-out; */
	height: 40px;
	background-color: rgb(243, 242, 242);
}

.table-box-selecteds table tr:hover {
	background-color: rgb(243, 242, 242);
}

.table-box-selecteds .fa {
	font-size: 24px;
}

.table-box-selecteds .fa:hover {
	color: #60C4F2;
}

.table-box-selecteds select {
	border-radius: 5px;
	border: 1px solid #000;
}

.table-box-selecteds select:active {
	/* border-radius: 5px; */
	outline: none;
}

.table-box-selecteds option:active {
	outline: none;
}

.table-box-selecteds option {
	border-radius: 5px;
	box-shadow: none;
}

.table-box-selecteds a {
	color: black;
}

.table-box-selecteds select {
	width: 150px;
}
.table-box-selecteds svg {
	width: 25px;
	height: 25px;
}
.table-box-selecteds svg:hover {
	fill: #60C4F2;
}

/* .selected_list:nth-child(4) {
	background-color: rgb(189, 189, 189);

} */

.hidden {
	visibility: hidden;
}

.print-box {
	padding-top: 25px;
}
.print-box button {
	width: 200px;
	height: 44px;
	background-color: #fff;
	border: none;
	outline: none;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.print-box button:hover,
.print-box button .fa:hover {
	color: #60C4F2;
}
.print-box button:focus,
.print-box button:active {
	border: none;
	outline: none;
}
.print-box button .fa {
	font-size: 30px;
	padding-left: 10px;
}




.table-box {
	border-radius: 5px;
	/* border: 1px solid black; */
	box-shadow: 0 50px 40px rgb(0, 0, 0, 0.2);
	background-color: #fff;
    min-height: 296px;
}

.table-box table {
	width: 100%;
	/* height: 100%; */
}

.table-box table tr th {
	height: 40px;
	padding-left: 20px;
	text-align: left;
}

.table-box table tr th:nth-child(7) {
	height: 40px;
	padding-left: 0px;
	text-align: center;
}

.table-box table tr th:last-child {
	height: 20px;
	width: 25px;
	padding-left: 0px;
}

.table-box table tr td:last-child {
	width: 25px;
	display: flex;
	align-items: center;
	padding-right: 10px;
	/* margin: 10px; */
}

.table-box table tr td {
	height: 40px;
	padding-left: 20px;
}

.table-box table tr td:nth-child(7) {
	text-align: center;
	padding: 0;
}

.table-box table tr td:nth-child(8) {
	text-align: center;
	padding: 0;
}

.table-box table tr td:nth-child(6) {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 10px;
	padding-left: 10px;
    width: 90px;
}

.table-box table tr td:nth-child(6) button {
	outline: none;
	border: none;
	background: transparent;
	/* margin-right: 10px; */
}

.table-box table tr td:nth-child(6) button:focus {
	outline: none;
	border: none;
}

.table-box table tr td:nth-child(6) button:active {
	outline: none;
	border: none;
}

.table-box table tr td:first-child {
	width: 25px;
}

.table-box table tr {
	transition: 0.1s ease-in-out;
}

.table-box table tr:first-child {
	/* transition: 0.2s ease-in-out; */
	height: 40px;
	background-color: rgb(243, 242, 242);
}

.table-box table tr:hover {
	background-color: rgb(243, 242, 242);
}

.table-box .fa {
	font-size: 24px;
}

.table-box .fa:hover {
	color: #60C4F2;
}

/* --------------------------------- */


header .select-box .dropdown {
	margin-top: 25px;
	width: 200px;
	height: 100%;

}

.dropbtn {
	width: 200px;
	border-radius: 5px;
	height: 44px;
	background-color: #fff;
	color: black;
	/* padding: 16px; */
	font-size: 16px;
	border: none;
	cursor: pointer;
	box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
}

.dropbtn:focus,
.dropbtn:active {
	outline: none;
	border: none;
}

.dropbtn:hover,
.dropbtn:focus {
	background-color: #fff;
}

#myInput {
	box-sizing: border-box;
	background-image: url('searchicon.png');
	background-position: 14px 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 14px 20px 12px 45px;
	border: none;
	border-bottom: 1px solid #ddd;
}

#myInput:focus {
	outline: none
}

.dropdown {
	height: 40px;
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f6f6f6;
	min-width: 230px;
	overflow: auto;
	border: 1px solid #ddd;
	z-index: 1;
    top: 0;
}


.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

/* нужные стили     */
.empty-title{
    min-height: 296px;
    width: 100%;
    /* text-align: center; */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* svg{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}  */


/* .order-card input{
width: 70%;
} */
.send-order{
    margin-top: 20px;
}
.btn_add{
    max-width: 20px;
}
.order-card{
    padding: 20px 0;
}
.nav-link svg{
    height: 25px;
    object-fit: cover;
}
.nav-link::before {
     content: "";
     position: absolute;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;

}
.nav-link:hover svg{

    fill: #60C4F2;
}
header nav ul li {
	display: flex;
	justify-content: center;
	align-items: center;
    position: relative;

}
.table-box-workers {
	border-radius: 5px;
	/* border: 1px solid black; */
	box-shadow: 0 50px 40px rgb(0, 0, 0, 0.2);
	background-color: #fff;
}
.table-box-workers table {
	width: 100%;
	/* height: 100%; */
}
.table-box-workers table tr th {
	height: 40px;
	padding-left: 20px;
	text-align: left;
}
.table-box-workers table tr td:nth-child(6) {
	width: 30px;
	height: 40px;
	padding-right: 6px;
	padding-left: 6px;
	text-align: center;
}
.table-box-workers table tr td:nth-child(7) {
	width: 40px;
}
.table-box-workers table tr td:nth-child(8) {
	width: 40px;
}
.table-box-workers table tr th:last-child {
	height: 20px;
	padding-left: 0px;
}
.table-box-workers table tr td {
	height: 40px;
	padding-left: 20px;
}
.table-box-workers table tr td:nth-child(7) {
	text-align: center;
	padding: 0;
}
.table-box-workers table tr td:nth-child(8) {
	text-align: center;
	padding: 0;
}
.table-box-workers table tr td:first-child {
	width: 25px;
}
.table-box-workers table tr td:last-child {
	width: 100px;
	position: relative;
}
.table-box-workers table tr td:last-child button {
	border: none;
	background: transparent;
}
.table-box-workers table tr {
	transition: 0.2s ease-in-out;
}
.table-box-workers table tr:first-child {
	/* transition: 0.2s ease-in-out; */
	height: 40px;
	background-color: rgb(243, 242, 242);
}
.table-box-workers .table-box table tr:hover {
	background-color: rgb(243, 242, 242);
}
.table-box-workers .fa {
	font-size: 24px;
}
.table-box-workers .fa:hover {
	color: #60C4F2;
}
.table-box-workers select {
	border-radius: 5px;
	border: 1px solid #000;
}
.table-box-workers select:active{
	/* border-radius: 5px; */
	outline: none;
}
.table-box-workers option:active {
	outline: none;
}
.table-box-workers option{
	border-radius: 5px;
	box-shadow: none;
}
.table-box-workers svg {
	width: 25px;
	height: 25px;
}
.table-box-workers svg:hover {
	fill: #60C4F2;
}

.table-box-workers table .selected_list_disabled td:nth-child(5) {
	padding-right: 0px;
	width: 160px;
}

.table-box-workers table .selected_list_disabled td:nth-child(5) input {
	width: 150px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: #fff;
	font-size: 16px;
	color: #000;
}

.table-box-workers table .selected_list_disabled td:nth-child(4) {
	padding-right: 0px;
	width: 180px;
}

.table-box-workers table .selected_list_disabled td:nth-child(4) input {
	width: 170px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: #fff;
	font-size: 16px;
	color: #000;
}

.table-box-workers table .selected_list_disabled td:nth-child(3) {
	padding-right: 0px;
	width: 100px;
}

.table-box-workers table .selected_list_disabled td:nth-child(3) input {
	width: 90px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: #fff;
	font-size: 16px;
	color: #000;
}

.table-box-workers table .selected_list_disabled td:nth-child(2) {
	padding-right: 0px;
	width: 160px;
}

.table-box-workers table .selected_list_disabled td:nth-child(2) input {
	width: 150px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: #fff;
	font-size: 16px;
	color: #000;
}

.table-box-workers table .select-list__item td{
	transition: 0.2s ease-in-out;
}

.table-box-workers table .select-list__item_worker:hover td {
	background-color: rgb(243, 242, 242);
}

.table-box-workers table .selected_list_disabled td input {
	transition: 0.2s ease-in-out;
}

.table-box-workers table .selected_list_disabled:hover td input {
	background-color: rgb(243, 242, 242);
}
.table-box-workers .save_worker {
	position: absolute;
	right: 50px;
}


.table-box-search {
	border-radius: 5px;
	/* border: 1px solid black; */
	box-shadow: 0 50px 40px rgb(0, 0, 0, 0.2);
	background-color: #fff;
}

.table-box-search table {
	width: 100%;
	/* height: 100%; */
}
.table-box-search table tr th {
	height: 40px;
	padding-left: 20px;
	text-align: left;
}

.table-box-selecteds {
	position: relative;
}

.pag {
	position:absolute;
	bottom: 0;
    width: 100%;
	height: 60px;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pagination {
	
	list-style-type: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	text-align: center;
}
.pagination .pagination__item {
	border: 1px solid lightgray;
	padding: 0;
	margin: 0;
	border-radius: 5px;
}

.pagination .active {
	background-color: #60C4F2;
}

.page-item {
    padding: 15px;
	
    /* border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray; */
    position: relative;
}

.page-item a::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.page-item:first-child {
    padding: 15px;
}

.page-item:last-child {
    padding: 15px;
}

.table-box-pag {
	position: relative;
}