@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
     margin: 0;
    padding: 0;
}

/* новые стили  */

html, body {
    height: 100%;
    max-width: 100%;
    background-color:  rgb(73 137 220 / 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto';
}

.sidebar .container ul {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.sidebar .container ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s ease-in-out;
}

.link-list__item a {
    height: 100%;
}

.sidebar .container ul a:hover {
    background-color: rgb(235, 235, 235);
}

.grid-container-search {
    height: 100%;
    display: grid;
    grid-template-columns: 120fr 3fr;
    grid-template-rows: 100px 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "search_box tabel_personal" "tabel_students tabel_personal" "tabel_students tabel_personal";
}

.tabel_personal {
    grid-area: tabel_personal;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray;
}

.tabel_students {
    grid-area: tabel_students;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray;
}

.search_box {
    grid-area: search_box;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray;
    padding: 20px;
}

.grid-container {
    padding-left: 10px;
    padding-right: 10px;
    height: 98%;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "sidebar content";
    grid-gap: 20px;
}

.content {
    grid-area: content;
}

.sidebar {
    grid-area: sidebar;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sidebar .container {
    height: 480px;
    width: 80px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.grid-containerr {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 100px;
    gap: 20px 20px;
    grid-template-areas: "groups groups-name groups-name" "groups table table" "groups table table" "pag-group table table";
}
.table-conrainer{
    border: 1px solid lightgray;
    border-radius: 4px;
}
.table {
    margin: 0;
    grid-area: table;
    background-color: #fff;
    border-radius: 3px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */
    padding: 20px;
    border: 1px solid lightgray;
}

.groups-name {
    grid-area: groups-name;
    background-color: #fff;
    border-radius: 3px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groups {
    grid-area: groups;
    background-color: #fff;
    position: relative;
    border-radius: 3px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */
    border: 1px solid lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* padding: 10px 10px 10px 10px; */
    /* grid-gap: 10px; */
}

.svg-inline--fa {
    font-size: 24px;
}

.groups .box_group {
    background-color: white;
    /* border-radius: 3px; */
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */
    /* border: 1px solid rgb(241, 241, 241); */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-in-out;
    position: relative;
}

.box_group {
    border: 1px solid lightgray;
}

.groups .box_group:hover {
    background-color: rgb(235, 235, 235);
    /* transform: translateY(-4px); */
}

.pag-group {
    grid-area: pag-group;
    background-color: #fff;
    border-radius: 3px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pag-table {
    grid-area: pag-table;
    background-color: #fff;
    border-radius: 3px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */
    border: 1px solid lightgray;
}

/* конец новых */

/* body, html{
        text-align: center;
        color: #2c3e50;
        display: flex;
        height: 100%;
        min-height: 100%;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
        background-color: #fcfcfc;
    } */

ul>li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    background: transparent;
    box-shadow: none;
    border: none;
    background: none;
    cursor: pointer;
     opacity: 1;
    transition: 0.3s opacity;
}



.main-btn, #search-btn {
    background-color: #629cd1;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 800;
    padding: 8px 15px;
    /* margin-right: 10px; */
    font-size: 12px;
    text-transform: uppercase;
    z-index: 0;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s opacity;
}

#search-btn {
    height: 52px;
    padding: 15px;
    position: relative;
    left: 10px;
    top: -1px;
    bottom: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.main-title {
    text-align: center;
}

.main-content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select_section__btn-remove, .select-section__btn-print {
    width: 35px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s opacity;
}

.select-section__btn-print {
    /* position: absolute; */
}

svg {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.file-msg {
    padding: 0 5px;
    position: relative;
}

.select-list__item {
    height: 40px;
    /* padding-bottom: 100px; */
    transition: 0.3s;
    transition-property: background-color;
}



.select-list__item:hover{
    background-color: rgb(73 137 220 / 20%);
    cursor: pointer;
}

.group-title::before {
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.group-title {
    color: #629cd1;
    font-size: 21px;
}

.group-card {
    height: 151px;
    position: relative;
    width: 22%;
    text-align: center;
    padding: 0;
    /* background-color: red; */
    margin: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f2f2f2;
    transition: 0.3s opacity;
}

.group-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #000;
}

.center {
    border-right: 1px solid #f2f2f2;
}

.drop-area {
    width: 98%;
    height: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.drop-area.is-active {
    border: 10px dashed #629cd1;
}

.drop-area form {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.alert-danger {
    color: red;
    font-size: 20PX;
    line-height: 1.5;
}

.drop-area div {
    /* width: 100%;
        height: 100%; */
}

.tab-title::before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.tab-title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: left;
    transition: color .5s;
}

.content-list__item.is-active {
    display: block;
    /* Показываем активную вкладку */
}

/* здесь */

.tab-list__item:hover, .tab-list__item.is-active {
    border-left: 2px solid #629cd1;
    padding-left: 19px !important;
}

.tab-list__item.is-active {
    border-left: 2px solid #629cd1;
    padding-left: 19px;
}

.step-back:hover svg {
    fill: #629cd1;
}

.container-main {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #fff;
    position: relative;
    display: flex;
    grid-template-columns: 1.7fr 6fr;
    grid-template-areas: "sidebar feed";
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.15)
}

.main-sidebar {
    width: 185px;
    box-shadow: 10px 10px 10px -15px rgba(0, 0, 0, 0.3);
}

.tab-list__item {
    padding-left: 15px;
    /* border: 1px solid white; */
    padding-left: 20px;
    text-align: left;
    padding: 11px;
    cursor: pointer;
    position: relative;
}

.tab-list__item, .tab-list__item a {
    font-weight: 500;
}

.main-content {
    padding: 20px 20px;
    width: 100%;
}

.pagination li {
    margin: 0;
}

.tab-content {
    position: absolute;
    /* border: 1px solid #666; */
    padding: 6px 20px;
    left: 0;
    width: calc(100% - 20px);
    max-width: 83%;
    top: 0;
    display: none;
    /* height: 247px; */
    transform: translateX(18%);
}

.arrow-icon {
    width: 30px;
    height: 30px;
    transition: 0.3s fill;
}

.select-section__templete {
    cursor: pointer;
}

/* Поиск */

.serch-output {
    padding: 20px;
}

/* Группа */

.lable {
    font-weight: 700;
    padding-right: 10px;
}

.list {
    text-align: left;
}

.list__item {
    margin-bottom: 10px;
}

.select-list>.list__item {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-list>.list__item form {
    padding: 0 6px;
    font-size: 20px;
}

.select-btn {
    margin-right: 10px;
}

.pagination {
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.page-item {
    padding: 15px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.page-item a::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.page-item:first-child {
    padding: 15px;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.page-item:last-child {
    padding: 15px;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.active {
    background-color: lightgray;
}

.active:hover {
    background-color: lightgray;
}

.page-item:hover {
    background-color: rgb(235, 235, 235);
}

.page-item:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.page-item:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.active {
    /* border: 1px solid lightgray;
    padding: 10px; */
}

.pagination__item a:hover, .main-btn:hover, .group-title:hover, .select-section__btn-print:hover, .select_section__btn-remove:hover, #search-btn:hover, button:hover {
    opacity: 0.5;
}

.pagination__item svg {
    height: 17px;
    width: 17px;
    vertical-align: middle;
}


.container-personal,.container-selected,.drop-area-container,.non-select-alert  {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
.container-selected{
    display: flex;

    align-content: center;
    flex-direction: column;
}
.results-list__item {
    -webkit-box-shadow: 0px 5px 23px 2px rgba(40, 139, 217, 0.27) inset;
    -moz-box-shadow: 0px 5px 23px 2px rgba(40, 139, 217, 0.27) inset;
    box-shadow: 0px 5px 23px 2px rgba(40, 139, 217, 0.27) inset;
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
    border-radius: 20px;
}

.select-list {
    /* min-height: 100%; */
    border: 1px solid lightgray;
    /* border-collapse: 1px solid lightgray; */
}

.select-list tr th {
    height: 40px;
}
.select-list tr th:nth-child(2),.select-list tr th:nth-child(3),.select-list tr th:nth-child(4) {
    text-align: left;
    padding-left: 50px;
}

.select-list tr th:nth-child(5) {
    text-align: center;
}

.select-list tr th:first-child {
    text-align: center;
    /* padding-left: 50px; */
}

.select-list tr td:first-child {
    width: 30px;
}
.select-list tr td:nth-child(2), .select-list tr td:nth-child(3), .select-list tr td:nth-child(4) {
    width: 300px;
    text-align: left;
    padding-left: 50px;
}

.select-list tr td:nth-child(5) {
    width: 80px;
    text-align: center;
    /* padding-left: 50px; */
}

.select-list__remove-section table {
    DISPLAY: table-caption;
}

button .add_logo:hover{
    color: rgb(7, 209, 7);
}

.table-conrainer {
    display: flex;
}

.table-conrainer__main-table {
    display: contents;
}

.table-conrainer__main-table td {
    height: 50px;
}

.search-input {
    height: 50px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 23px 2px rgb(40 139 217 / 27%) inset;
    -moz-box-shadow: 0px 5px 23px 2px rgba(40, 139, 217, 0.27) inset;
    box-shadow: 0px 5px 23px 2px rgb(40 139 217 / 27%) inset;
    /*margin-bottom: 20px;
    */
    /*height: 30%;
    */
    width: 87%;
    padding: 15px;
    font-size: 18px;
    outline: none;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.search-input:focus {
    box-shadow: none;
    border: 1px solid lightgray;
}


.workeredit {
    /* margin-top: 100px; */
    height: 500px;
    width: 20%;
    background: #fff;
}

select {
    width: 150px;
    border-radius: 10px;
    border: 1px solid lightgray;
    transition: 0.5s;
}
